&nbsp;
<h2>WE WOULD RECOMMEND THE BELOW STOCKS FOR YOUR MARKET CAP</h2>

        

<div class="row">
    <div class="col-sm" (click)="callFun('Large Cap')" id="capHead">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Large Cap</h5>
          <p class="card-text">Check out for large cap values here</p>
          <a href="#" class="btn btn-primary">clickHere</a>
        </div>
      </div>
    </div>
    <div class="col-sm" (click)="callFun('Mid Cap')" id="capHead">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Mid Cap</h5>
          <p class="card-text">Check out for mid cap values here</p>
          <a href="#" class="btn btn-primary">clickHere</a>
        </div>
      </div>
    </div>
    <div class="col-sm" (click)="callFun('Small Cap')" id="capHead">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Small Cap</h5>
          <p class="card-text">Check out for small cap values here</p>
          <a href="#" class="btn btn-primary">clickHere</a>
        </div>
      </div>
    </div>
    <div class="col-sm" (click)="getRecommendations(stocks[0].marketCap)" id="capHead"  >
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Recommend Stocks</h5>
          <p class="card-text">Check for top 5 stock values</p>
          <a href="#" class="btn btn-primary">clickHere</a>
        </div>
      </div>
    </div>
    
</div>
    
    



<div  class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
  <table class="table table-striped table-sm" id="dataTable">
    <thead>
        <tr>
            <th>Stock ID</th>
            <th>Name</th>
            <th>Two week high</th>
            <th>Two week low</th>
            <th>Last closing price</th>
            <th>Today Opening Price</th>
            <th>Price Two Weeks Ago</th>
            <th>Current market price</th>
            <th>Quantity</th>
            
        </tr>
    </thead>
    <tbody *ngIf="stocks!=null">
        <tr *ngFor="let stock of stocks">
            <td>{{stock.StockID}}</td>
            <td>{{stock.Name}}</td>
            <td>{{stock.Twoweekhigh}}</td>
            <td>{{stock.Twoweeklow}}</td>
            <td>{{stock.Lastclosingprice}}</td>
            <td>{{stock.TodayOpeningPrice}}</td>
            <td>{{stock.PriceTwoWeeksAgo}}</td>
            <td>{{stock.Currentmarketprice}}</td>
            <td>{{stock.Quantity}}</td>
            <td><input type="number" (keyup)="onKey($event)"></td>
            <td > <button class=" btn btn-primary" (click)="saveStock(stock)">Save</button></td>
            <!-- <td *ngIf="saved">Saved</td> -->
        </tr>
        
    </tbody>
    
  </table>
</div>
